:root {
    --background: #ffffff;
    --text: #55585b;
    --link: #0097A7;
    --accent: #7a7b7c;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #222324;
        --text: #f8f8f2;
        --link: #00a1e0;
        --accent: #7a7b7c;
    }
}
html {
	font-size: 10px;
}

body {
    max-width: 74rem;
    margin: 2rem auto;
    font-family: Roboto, "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.7rem;
	padding: 0 2rem;
    line-height: 1.6;
    background-color: var(--background);
    color: var(--text);
	text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

a, a:link, a:visited {
    color: var(--link);
    text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover, a:active, a:focus {
    text-decoration: none;
	border-bottom: 2px solid var(--link);
}
header.site-header > * {
	line-height: 5rem;
	font-size: 1.3rem;
	font-weight: 400;
	text-transform: uppercase;
}
.site-title {
	float: left;
	margin: 0;
}
.site-title a {
	color: var(--text);
}
.site-title a:hover, .site-title a:active {
	color: var(--link);
}
.site-nav {
	float: right;
}
.site-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.site-nav li {
	display: inline-block;
	padding-left: 0.9rem;
}
header.site-header:after {
	clear: both;
	content: " ";
	display: table;
	margin-bottom: 3rem;
}

.h-entry {
	margin-bottom: 3rem;
}
.post-date {
	font-size: 1.3rem;
	text-transform: uppercase;
}
.e-content p:first-of-type, article p:first-of-type, .post-title {
	margin-top: 0;
}
.post-title a {
	color: var(--text);
}
.post-title a:hover, .post-title a:active {
	color: var(--link);
	border-bottom: none;
}
.e-content img {
	width: 100%;
	height: auto;
}

.photos-grid-container a {
	border-bottom: none;
}
.photos-grid-container img:hover, .photos-grid-container img:active {
	opacity: 80%;
}

ul.post-list {
	list-style: none;
	padding: 0;
}
ul.post-list a.u-url {
	font-size: 1.3rem;
	text-transform: uppercase;
}

footer {
	font-size: 1.3rem;
	text-align: center;
	color: var(--accent);
}
.custom_footer {
	margin-bottom: 1.5rem;
}