<header class="site-header">

	<a class="page-link Home" href="/"><img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="profile_photo u-photo" width="70" height="70"></a>

	<p class="description">{{ .Site.Params.itunes_description }}</p>

	 <nav class="site-nav">
    	<ul>
			<li><a class="page-link Home" href="/">Home</a></li>
			<!--<li><a class="page-link Microcast" href="/microcast/">Microcast</a></li>-->
			{{ range .Site.Menus.main }}
				{{ if .Page.Params.redirect_url }}
					<li><a class="page-link {{ replace .Name "." "_" }}" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
				{{ else }}
					<li><a class="page-link {{ replace .Name "." "_" }}" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
				{{ end }}
			{{ end }}
			<li><a class="page-link Micro_blog" rel="me" href="https://micro.blog/jimmitchell">Micro.blog</a></li>
			<li><a class="page-link Mastodon" rel="me" href="https://mastodon.social/@jimmitchell">Mastodon</a></li>
		</ul>
    </nav>

</header>